.page-footer {
	min-height: 572px;

	padding-top: 96px;
	background-color: #1a2124;
}

.footer__container {
	@include container();	
}

.footer-top {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;

	margin-bottom: 30px;
}

.footer__text {
	width: 50%;
}

.footer__subscr {
	width: 40%;
}

.page-footer b {
	display: inline-block;
	margin-bottom: 20px;

	font-size: 13px;
	line-height: 24px;
	font-weight: 600;
	color: #f6f7fa;
}

.page-footer p {
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
	color: #f6f7fa;
}

.form__subscr-text {
	margin-top: 19px;
}

.input-wrapper {
	position: relative;

	&::after {
		content: "";
		position: absolute;
		top: 50%;
		right: 21px;
		margin-top: -9px;
		width: 24px;
		height: 18px;
		cursor: pointer;

		background: url(../img/sub-confirm.png) center center no-repeat;
	}
}

.form-text {
	vertical-align: middle;
	width: 100%;
	height: 60px;
	padding: 10px 0 10px 15px;

	border-radius: 4px;
		
	font-family: "Open Sans", Arial, sans-serif;
	color: #83969f;
	font-size: 28px;
	line-height: 28px;
	font-weight: 300;
	border: none;
	outline: none;

	overflow: hidden;
}

.form-sub {
	position: absolute;
	left: 100%;
	top: 0;
	margin-left: -70px;
	width: 70px;
	height: 100%;
	
	padding: 0;
	border: none;
	outline: none;
	
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;	
	background-color: #835fa8;
	cursor: pointer;
}

.footer-navigation b {
	display: inline-block;
	margin-bottom: 20px;

	font-size: 13px;
	line-height: 24px;
	font-weight: 600;
	color: #f6f7fa;
}

.footer-navigation {
	display: flex;
	align-items: flex-start;
}

.footer-navigation ul {
	margin-right: 95px;
}

.third-list ul {
	margin-right: 0;
}

.footer-navigation li {
	color: #f6f7fa;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;

	margin-bottom: 5px;

	&:last-child {
		margin-bottom: 0;
	}
}

.footer-navigation a {
	color: #f6f7fa;

	&:hover {
		color: #835fa8;
	}
}