.page-header__button {
	

	@include button();
	background-color: #835fa8;
	padding: 17px 32px 0;
	height: 44px;
	margin-left: 15px;

	&:hover {
		background-color: lighten(#835fa8, 5%);
	}
}

.page-header {
	position: relative;
	z-index: 1;
	min-height: 867px;
	padding: 50px 0 0 0;

	background: #232831 url(../img/bg-header.png);
	background-position: left top;
	background-size: auto;
	background-repeat: no-repeat;
}

.page-header__logo {
	display: block;
	width: 63px;
	height: 79px;
	flex-grow: 1;
	background: url(../img/logo-header.png);
	background-repeat: no-repeat;

	&:hover {
		opacity: 0.7;
	}
}

.page-header__container {
	@include container();
}

.page-header__flex-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.page-header__search {
	height: 44px;
	width: 260px;
	padding: 16px 0 16px 30px;
	outline: none;
	border: none;
	border-radius: 20px;

	background-color: #343c48;

	color: #9da5b0;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: 400;

	overflow: hidden;
}

.dws-input {
	position: relative;
	display: inline-block;
}

.dws-input::before {
	content: "";
	position: absolute;
	top: 50%;
	right: 20px;
	margin-top: -7px;
	width: 14px;
	height: 14px;

	background: url(../img/icon-search.png) center center no-repeat;

	cursor: pointer;
}

.page-header__slogan {
	max-width: 619px;
	
	margin-left: 455px;
	margin-top: 245px;	

	text-align: left;
}

.page-header__title {
	font-size: 70px;
	line-height: 90px;
	margin-bottom: 16px;
}

.page-header__text {
	font-size: 18px;
	line-height: 30px;
	font-weight: 400;
	color: #fff;
}